<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.runtime.remoting>
        <application>
            <channels>
                <channel ref="Tcp" port="8123" >
                    <serverProviders>
                        <formatter ref="binary" typefilterLevel="Full"/>
                    </serverProviders>
                </channel>
            </channels>
            <service>
                <wellknown
                    mode="Singleton"
                    type="RemoteEvents.RemoteEventsPublisher, Publisher"
                    objectUri="Publisher" /> 
            </service>
        </application>
    </system.runtime.remoting>  
</configuration>